*{
    padding: 0;
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 55% 45%;
}
.left{
    grid-column: 1;
}
.right{
    grid-column: 2;
    display: grid;
    grid-template-columns: 50% 50%;
}
.right part-part2{
    grid-column: 1;
}
.right part-part3{
    grid-column: 2;
}
.right part-part4{
    grid-column: 1;
}
.right part-part5{
    grid-column: 2;
}
img{
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1e90ff;
    color: #fff;
    padding: 10px 20px;
}
.search-bar {
    flex: 1;
    margin-left: 33%;
    margin-right: 27%;
    padding: 5px;
    border: none;
    background-color: white;
    color: #fff;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: white;
    padding: 2px;
}
.navbar-brand{
    margin-top: 3px;
}
.about{
    margin-top: 3px;
}
@media screen and (min-width: 1280px){
    .container{
        grid-template-columns: 55% 45%;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
    
}
@media screen and (min-width: 480px) and (max-width: 799px){
    
}
